<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.va5.7minworkout"
        versionCode="1" 
        version   = "1.0.0">

    <name>7 Minute Workout</name>

    <description>
	7 Minute Workout is all you need to get fit and healthy. With only 7 minutes per day you can feel 
	better and live a fuller, happier life as a result of it. See http://well.blogs.nytimes.com/2013/05/09/the-scientific-7-minute-workout/ for more information. 	
    </description>

    <author href="https://va5.com/app-support" email="support@va5.com">
	Tycho Luyben
    </author>
    
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="android-installLocation" value="auto" />

    <icon src="icon57.png" />
<icon src="ldpi.png" gap:platform="android" gap:density="ldpi" width="36" height="36"/>
<icon src="mdpi.png" gap:platform="android" gap:density="mdpi" width="48" height="48"/>
<icon src="hdpi.png" gap:platform="android" gap:density="hdpi" width="72" height="72"/>
<icon src="xdpi.png" gap:platform="android" gap:density="xhdpi" width="96" height="96"/>
</widget>
